/* COMPANY CULTURE */
body{
  overflow-x: hidden;
}

.co_culture_thumbnail_img{
  width: 100%;
  height: 180vh;
  background: url("../img/co_culture/sdc_info.png") no-repeat 50% 50%;
  background-size: cover; 
  background-attachment: fixed; 
}
/* co_culture_section1 */
.co_culture_section1{
  padding-top: calc(var(--base-unit)*6);
}
.samsung_display_culture{
  width: 100%;
  margin: 0 auto;
}
.samsung_display_culture h1{
  padding: calc(var(--base-unit)*3);
}
.co_culture_section1 .first_text{
  padding-top: calc(var(--base-unit)*8);
  box-sizing: border-box;
}
.co_culture_section1 .first_text h1{
  color: var(--dark-blue);
}
.co_culture_section1 .second_text{
  padding-top: calc(var(--base-unit)*10);
  box-sizing: border-box;
}
.co_culture_section1 .second_text h1{
  color: var(--white);
}
.co_culture_section1 .third_text{
  padding-top: calc(var(--base-unit)*10);
  box-sizing: border-box;
}
.co_culture_section1 .third_text h1{
  color: var(--light-blue);
}
/* co_culture_section2 SDC Culture 소개 */
.co_culture_section2{
  background: var(--white);
  transform:translateX(40%);
  transition: 2s;
  opacity: 0;
}
.co_culture_section2.active{
  background: var(--white);
  transform:none;
  opacity: 1;
}
.co_culture_section2 .co_culture_info{
  padding: calc(var(--base-unit)*6) 0;
  text-align: left;
}
.co_culture_section2 h3{
  text-transform: capitalize;
  padding-bottom: calc(var(--base-unit)*1);
}
.co_culture_section2 .co_culture_info_p{
  padding-bottom: calc(var(--base-unit)*2);
  font-weight: bold;
}
.co_culture_section2 .co_culture_img{
  width: 100%;
  display: flex;
  justify-content: start;
}
.co_culture_section2 .co_culture_img img{
  width: 60%;
  object-fit: cover;
}
/* co_culture_section3 */
.co_culture_section3{
  background: var(--white);
  transition: 2s;
  transform:translateX(-40%);
}
.co_culture_section3.active{
  background: var(--black);
  color: var(--white);
  transform: none;
}
.co_culture_section3 .co_culture_info{
  padding: calc(var(--base-unit)*6) 0;
  text-align: right;
}
.co_culture_section3 h3{
  text-transform: uppercase;
  padding-bottom: calc(var(--base-unit)*1);
}
.co_culture_section3 .co_culture_info_p{
  padding-bottom: calc(var(--base-unit)*2);
  font-weight: bold;
}
.co_culture_section3 .co_culture_img{
  width: 100%;
  display: flex;
  justify-content: end;
}
.co_culture_section3 .co_culture_img img{
  width: 60%;
  object-fit: cover;
}
/* co_culture_section4 */
.co_culture_section4{
  background: var(--white);
  transition: 2s;
  transform:translateX(40%);
}
.co_culture_section4.active{
  background: var(--light-blue);
  color: var(--black);
  transform: none;
}
.co_culture_section4 .co_culture_info{
  padding: calc(var(--base-unit)*6) 0;
  text-align: left;
}
.co_culture_section4 h3{
  text-transform: uppercase;
  padding-bottom: calc(var(--base-unit)*1);
}
.co_culture_section4 .co_culture_vision_info_p{
  padding-bottom: calc(var(--base-unit)*2);
  font-weight: bold;
}
.co_culture_section4 .co_culture_img{
  width: 100%;
  display: flex;
  justify-content: start;
}
.co_culture_section4 .co_culture_img img{
  width: 60%;
  object-fit: cover;
}

/* co_culture_section5  */

.co_culture_section5{
  padding: calc(var(--base-unit)*6) 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.co_culture_section5 h3{
  padding-bottom: calc(var(--base-unit)*3);
  text-transform: capitalize;
}
/* active-slide */
.swiper {
  width: 1000px;
  height: 650px;
}
  /* 반응형 
  max-width: 600px;
  margin:2rem auto; */

.swiper-wrapper{
  height: 100%;
  margin:0 auto;
}
.swiper-slide{
  width: 100%;
  height: 100%;
}
.co_culture_active-slide .swiper-slide p{
  font-size: 24px;
  padding: 5px 10px;
  /* background: var(--blue); */
  /* background-image: linear-gradient(135deg, rgb(168, 176, 255), rgb(168, 239, 255)); */
  background-image: linear-gradient(135deg, #56f9f1 0%, #0a1ed0 100%);
  color: var(--white);
  /* color: var(--black); */
  border-radius: 30px;
  border-bottom: 3px solid #fff;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next{
  color: var(--white);
}

.co_culture_slide_info{
  padding-top: calc(var(--base-unit)*2);
}

/* section6 video */

.co_culture_section6{
  padding-top: calc(var(--base-unit)*12);

}
.co_culture_ending_img{
  width: 100%;
  height: 200vh;
  background: url("../img/co_culture/announce.jpg") no-repeat 50% 50%;
  background-size: cover; 
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}
.co_culture_ending_img h2{
  margin-bottom: calc(var(--base-unit)*6);
  color: var(--white);
  background: rgba(0, 0, 0, 0.7);
  
}

.co_culture_ending_video{
  width: 60%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: calc(var(--base-unit)*3);
}
.co_culture_ending_video video{
  width: 100%;
  /* object-fit: cover; */
}
.co_culture_section6 .recruit_info{
  margin: calc(var(--base-unit)*12) 0 calc(var(--base-unit)*2) 0;
  color: var(--white);
}
.co_culture_section6 .recruit_img{
  padding-bottom: calc(var(--base-unit)*2);
}
.co_culture_section6 .recruit_img img{
  border-radius: 20px;
}
.co_culture_section6 .recruit_btn{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.co_culture_section6 .cover_bgimg{
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-bottom: calc(var(--base-unit)*10);
}

@media (max-width:768px){
  .co_culture_thumbnail_img{
    height: 120vh;
  }
  /* co_culture_section1 */
  .co_culture_section1{
    padding-top: calc(var(--base-unit)*8);
  }
  .samsung_display_culture h1{
    padding: calc(var(--base-unit)*3);
  }
  .co_culture_section1 .first_text{
    padding-top: calc(var(--base-unit)*15);
    justify-content: center;
    transform: translateX(-10%);
  }
  .co_culture_section1 .second_text{
    padding-top: calc(var(--base-unit)*3);
    justify-content: center;
    transform: translateX(-22%);
  }
  .co_culture_section1 .third_text{
    padding-top: calc(var(--base-unit)*3);
    justify-content: left;
    transform: translateX(-15%);
  }
  /* Mission */
  .co_culture_section3 .co_culture_info h4{
    line-height: calc(var(--base-unit)*3);
    padding-bottom: calc(var(--base-unit)*1);
  }
  .co_culture_section3 .co_culture_info_p{
    /* padding-bottom: calc(var(--base-unit)*2); */
    font-weight: normal;
  }
  /* Vission */
  .co_culture_section4 .co_culture_vision_info{
    line-height: calc(var(--base-unit)*3);
    padding-bottom: calc(var(--base-unit)*1);
  }
  /* Work-Life Balance */
  .co_culture_section5{
    display: flex;
    flex-direction: column;
  }
  .swiper{
    width: 515px;
    height: 390px;
  }
  .co_culture_section5 .swiper-slide p{
    font-size: 20px;
    padding: 5px 10px;
  }
  .co_culture_slide_info{
    font-size: calc(var(--base-unit)*1.5);
    line-height: calc(var(--base-unit)*2.5);
  }
  /* ending img */
  .co_culture_ending_img h2{
    font-size: var(--h3-size);
    line-height: calc(var(--base-unit)*6);
    font-weight: bold;
    text-transform: uppercase;
  }
  .co_culture_ending_video{
    width: 100%;
  }
  .recruit_img img{
    width: 500px;
  }
  .co_culture_ending_img{
    height: 150vh;
  }
}
@media (max-width:480px){
  .co_culture_section1,
  .co_culture_section2,
  .co_culture_section3,
  .co_culture_section4,
  .co_culture_section6{
    padding: 0 20px 0 20px;
  }
  .container{
    padding: calc(var(--base-unit)*6) 20px;
  }
  .co_culture_section2,
  .co_culture_section3,
  .co_culture_section4{
    transition: 1s;
  }
  .co_culture_thumbnail_img{
    width: 100%;
    height: 100vh;
    background-position: 25% 50%;
    object-fit: cover;
  }
  .co_culture_section1 .first_text{
    padding-top: calc(var(--base-unit)*10);
    justify-content: center;
    transform: translateX(-3%);
  }
  .co_culture_section1 .second_text{
    padding-top: calc(var(--base-unit)*3);
    justify-content: center;
    transform: translateX(-18%);
  }
  .co_culture_section1 .third_text{
    padding-top: calc(var(--base-unit)*3);
    justify-content: left;
    transform: translateX(0);
  }
  /* section2 */
  .co_culture_section2 .container{
    padding: calc(var(--base-unit)*6) 20px;
  }

  /* section3 */
  .co_culture_section3 .container{
    padding: calc(var(--base-unit)*6) 20px;
  }

  /* section4 */
  .co_culture_section3 .container{
    padding: calc(var(--base-unit)*6) 20px;
  }
  /* slide */
  .co_culture_section5{
    width: 60%;
    margin: 0 auto;
  }
  .swiper{
    width: 280px;
    height: 260px;
  }
  .co_culture_section5 .swiper-slide p{
    font-size: 14px;
    padding: 3px 5px;
  }
  /* ending img */

  .co_culture_ending_img h2{
    font-size: var(--h4-size);
    margin-bottom: 0
  }
  .recruit_info{
    font-size: var(--h4-size);
  }
  .co_culture_ending_video{
    width: 100%;
    height: 350px;
  }
  .recruit_img img{
    width: 300px;
  }
  .co_culture_ending_img{
    height: 120vh;
  }
  .co_culture_section6 .recruit_info{
    margin: calc(var(--base-unit)*6) 0 calc(var(--base-unit)*2) 0;
  }
}