@charset "UTF-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --base-unit: 17px;

  --h1-size: 128px;
  --h2-size: 96px;
  --h3-size: 64px;
  --h4-size: 32px;
  --default-size: 20px;

  --dark-blue: #0e2071;
  --blue: #0077ff;
  --light-blue: #76b6ff;
  --white: #fff;
  --light-gray: #adadad;
  --gray: #777;
  --dark-gray: #2d2d2d;
  --black: #121212;
}

/* reset */
button {
  border: none;
  background: none;
}

/* font */
.heading-1 {
  font-size: var(--h1-size);
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.heading-2 {
  font-size: var(--h2-size);
  line-height: calc(var(--base-unit)*8);
  font-weight: bold;
  text-transform: uppercase;
}

.heading-3 {
  font-size: var(--h3-size);
  line-height: calc(var(--base-unit)*6);
  font-weight: bold;
  text-transform: uppercase;
}

.heading-4 {
  font-size: var(--h4-size);
  line-height: calc(var(--base-unit)*4);
  font-weight: 500;
  text-transform: capitalize;
}

.black .heading-1,
.black .heading-2,
.black .heading-3,
.black .heading-4 {
  color: var(--white);
}

body {
  font-size: var(--default-size);
  line-height: calc(var(--base-unit)*2);
  font-family: 'Pretendard-Regular';
  color: var(--black);
}

body.black {
  background: var(--black);
  color: var(--white);
}


/* button */
.btn {
  padding: 0px 30px;
  text-align: center;
  border-radius: 10px;
  font-size: var(--default-size);
  line-height: calc(var(--base-unit)*2 + 6px);
  height: calc(var(--base-unit)*2 + 6px);
  transition: .3s;
  box-sizing: border-box;
}

.blue-btn {
  background: var(--blue);
  color: var(--white);
}

.blue-btn:hover {
  background-color: var(--light-blue);
  color: var(--black);
}

.blue-btn:active {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 0 5px inset var(--light-blue);
}

.white-btn {
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
}

.white-btn:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  border-color: transparent;
}

.white-btn:active {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 0 5px inset var(--dark-blue);
  border-color: transparent;
}

.black-btn {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.black-btn:hover {
  background-color: var(--light-blue);
  border-color: transparent;
}

.black-btn:active {
  background-color:var(--white);
  color: var(--black);
  box-shadow: 0 0 0 5px inset var(--light-blue);
  border-color: var(--light-blue);
}


/* top button */
.go_top{
  width: 70px;
  height: 70px;
  background-color: #76B6FF;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 30px;
  overflow: hidden;
  box-sizing: border-box;
  transition: .3s;
}
.go_top:hover{
  opacity: 1;
  cursor: pointer;
  border:4px solid #0E2071;
}
.inner_top{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077FF;
}
.go_top_btn{
  font-size: 70px;
  color: #fff;
  position: fixed;
  right: 30px;
  bottom: 50px;
}