.coop_desc{
    padding: calc(var(--base-unit) * 8) 0 calc(var(--base-unit) * 11) 0;
    text-align: center;
}
.coop_list, .coop_list > div{
    padding: calc(var(--base-unit) * 10) 0;
}
.coop_list > div:nth-child(2n){
    text-align: right;
}
.coop_content{
    text-align: center;
}
.smart .coop_content{
    margin-bottom: calc(var(--base-unit) * 4);
}