.container{
    padding: calc(var(--base-unit) * 9) 0;
    overflow: hidden;
}
/* 1. 사회공헌 개요 */
.ctr_main{
  height: 100vh;
}
.ctr_main > div{
    margin-bottom: calc(var(--base-unit) * 3);
    box-sizing: content-box;
}
.ctr_main article > div{
    text-align: center;
}
.ctr_main_title{
    margin-top: var(--base-unit);
}
.ctr_main_content{
    padding: 0 100px;
}
.ctr_main article{
    gap: 82px;
}

/* 2. 나눔경영 */
.share_sub_title{
  color: var(--blue);
}
.share_sub_desc{
  color: var(--gray);
}
.share_content{
  gap: var(--base-unit)
}
.share_content:nth-child(1){
  margin-bottom: calc(var(--base-unit) * 3);
}


/* 3. 사회공헌 목록 */
.ctr_sub .row{
  padding-right: calc(var(--base-unit) * 6);
}
.ctr_sub_page img{
    width: 45%;
    border-radius: 25px;
}
.swiper {
  width: 100%;
}
.swiper-wrapper{
  width: 50%;
  /* margin-left: calc(var(--base-unit) * 10); */
}
.swiper-slide-shadow{
  display: none;
}

@media (max-width: 768px){
  .ctr_sub .row{
    padding: 0 calc(var(--base-unit) * 3);
  }
}
@media (max-width: 480px){
  .ctr_main img{
    width: 100%;
  }
  .ctr_sub_page img{
    width: 50%;
  }
}