.container{
    padding: calc(var(--base-unit) * 9) 0;
    overflow: hidden;
}
/* 사회공헌_SECTION_01 */
.ctr_main{
  height: 100vh;
}
.ctr_main_desc{
    margin: calc(var(--base-unit) * 9) 0 calc(var(--base-unit) * 3);
}
.ctr_main article > div{
    text-align: center;
}
.ctr_main_title{
    margin-top: var(--base-unit);
}
.ctr_main_content{
    padding: 0 100px;
}
.ctr_main article{
    gap: 82px;
}

/* 사회공헌_SECTION_02 */
.share_sub_title{
  color: var(--blue);
}
.share_sub_desc{
  color: var(--gray);
}
.share_content{
  gap: var(--base-unit)
}
.share_content:nth-child(1){
  margin-bottom: calc(var(--base-unit) * 3);
}


/* 사회공헌_SECTION_03 */
.ctr_sub .row{
  padding-right: calc(var(--base-unit) * 10);
}
.ctr_sub_page img{
    width: 45%;
    border-radius: 25px;
}
.swiper {
  width: 100%;
}
.swiper-wrapper{
  width: 50%;
  /* margin-left: calc(var(--base-unit) * 10); */
}
.swiper-slide-shadow{
  display: none;
}

@media (max-width: 768px){
  /* 사회공헌_SECTION_01 - 768px */
  .ctr_sub .row{
    padding: 0 calc(var(--base-unit) * 2);
  }
  .ctr_main_title{
    align-items: center !important;
  }
  .ctr_main_desc{
    margin: calc(var(--base-unit) * 4) 0 calc(var(--base-unit) * 3);
  }
  .swiper-wrapper{
    transform: rotate(-90deg) !important;
  }
  .ctr_sub_page img{
    transform: rotate(90deg);
  }
}
@media (max-width: 480px){
  /* 사회공헌_SECTION_01 - 480px */
  .ctr_main img{
    width: 100%;
  }
  .ctr_sub_page img{
    width: 50%;
  }
}