.container{
    padding: calc(var(--base-unit) * 6) 0 calc(var(--base-unit) * 10) 0;
    overflow: hidden;
}

/* ESG 전략_SECTION_01 */
.s3{
    height: 800vh;
    color: var(--light-gray);
}
.s3 span.active{
    color:white;
}
.s3 > div{
    position: sticky;
    height: 100vh;
    top: 0;
    z-index: 2;
}
.s3 .sustain{
    position: relative;
    background: url(../img/esg/esg_sustain.png) no-repeat;
    background-size: cover;
    z-index: 1;
}
.sustain::before, .safety::before, .social::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.s3 .safety{
    position: relative;
    background: url(../img/esg/esg_safety.png) no-repeat;
    background-size: cover;
    text-align: right;
    z-index: 1;
}
.s3 .social{
    position: relative;
    background: url(../img/esg/esg_social.png) no-repeat;
    background-size: cover;
    z-index: 1;
}
.s3 .s3_title{
    /* flex-basis: 200px; */
    font-size: calc(var(--h1-size) * 1.8);
    line-height: calc(var(--h1-size) * 1.8);
    text-transform: uppercase;
}
.s3_title, .s3_content{
    font-weight: bold;
}   

/* ESG 전략_SECTION_02 */
.value .value_intro{
    text-align: center;
    padding: calc(var(--base-unit) * 5) 0;
}
.value .value_list{
    padding: calc(var(--base-unit) * 4) 0;
}
.value .value_list:nth-child(2n-1){
    text-align: right;
}
.value .value_list:nth-child(2n){
    text-align: left;
}
.value .value_list:last-child{
    padding-top: calc(var(--base-unit) * 5);
}
.value_list > div{
    position: relative;
}
.value_list > div h2{
    position: absolute;
    font-size: calc(var(--h1-size) * 2);
    opacity: 0.1;
}
.value_list:nth-child(2n-1) > div h2{
    top: -10%;
    right: -10%;
}
.value_list:nth-child(2n) > div h2{
    top: -10%;
    left: -10%;
}
.value_list img{
    background-size: cover;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
}
.value_bottom{
    position: relative;
    text-align: center;
    margin-bottom: calc(var(--base-unit) * 3);
    color: black;
    background: rgba(255, 255, 255, 0.5);
}
/* ESG 전략_SECTION_02_SWIPER */
.value_slide_container{
    position: absolute;
    top: 0;
    opacity: 0.2;
}
.value_slide_wrapper{
    transition-timing-function: linear;
}
.value_slide_section{
    width: 100%;
}
.value_slide_section:nth-child(1){
    width: 20%;
}
.value_slide_section:nth-child(2){
    width: 20%;
}
.value_slide_section:nth-child(3){
    width: 20%;
}
.value_slide_section:nth-child(4){
    width: 20%;
}
.value_slide_section:nth-child(5){
    width: 20%;
}

/* ESG 전략_SECTION_03 */
.report{
    position: relative;
    background: url('../img/esg/esg_report.png') no-repeat;
    background-size: cover;
    color: var(--white);
    padding: calc(var(--base-unit) * 3);
}
.report::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.report_desc{
    z-index: 10;
}
.report a {
    color: var(--white);
    z-index: 10;
}


@media (max-width: 768px){
    /* ESG 전략_SECTION_02 - 768px */
    .value_title, .value_content{
        width: 100%;
        margin-left: 0;
        padding: 0 37px;
    }
    .value_content{
        font-size: var(--default-size);
    }
    .value_list_title{
        font-size: 34px;
        line-height: calc(var(--base-unit) * 4);
    }
    /* ESG 전략_SECTION_03 - 768px */
    .report_desc p{
        padding-right: 200px;
    }
}

@media (max-width: 480px){
    /* ESG 전략_SECTION_01 - 480px */
    .s3 > div{
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        height: 100vmin;
    }
    /* ESG 전략_SECTION_02 - 480px */
    .value_list_content{
        font-size: 15px;
    }
    /* ESG 전략_SECTION_03 - 480px */
    .report_desc{
        text-align: center;
    }
    .report_desc p{
        font-size: var(--default-size) !important;
        line-height: 26px !important;
        padding: 0 58px;
    }
    .report{
        padding: 73px 0;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--base-unit) * 4);
    }
    .report_year{
        flex-direction: row !important;
        font-size: var(--h3-size);
        gap: 85px;
    }
}