/* 상생협력_SECTION_01 */
.coop_desc{
    padding: calc(var(--base-unit) * 8) 0 calc(var(--base-unit) * 11) 0;
    text-align: center;
}
.coop_list, .coop_list > div{
    padding: calc(var(--base-unit) * 10) 0;
}
.grow,.fund{
    text-align: right;
}
.smart .coop_content{
    margin-bottom: calc(var(--base-unit) * 4);
    text-align: center;
}

/* 상생협력_SECTION_02 */
.rec_desc h2{
    text-align: center;
}
.rec_desc p{
    text-align: right;
    margin-bottom: calc(var(--base-unit) * 10);
}
.rec_circle{
    margin-bottom: calc(var(--base-unit) * 10);
}

#target1, #target2, #target3 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 25px;
}


@media (max-width: 768px){
    /* 상생협력_SECTION_01 - 768px */
    .pushin-scene h2{
        font-size: var(--h3-size);
    }
    .pushin-scene p{
        font-size: var(--default-size);
    }
    .col-8{
        width: 100%;
    }
    .coop_list > div{
        flex-direction: column;
        text-align: center;
    }
    .coop_list > div > div{
        order: 1 !important;
    }
    .coop_content{
        margin-bottom: calc(var(--base-unit) * 2);
    }
    .coop_content p{
        font-size: var(--default-size);
        line-height: calc(var(--base-unit) * 2);
    }
    /* 상생협력_SECTION_02 - 768px */
    .rec_desc > *{
        margin-left: 0;
    }
    #target1, #target2, #target3 {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 480px){
    /* 상생협력_SECTION_02 - 480px */
    #target1, #target2, #target3 {
        width: 100px;
        height: 100px;
    }
}