/* 1. 상생협력 목록 */
.coop_desc{
    padding: calc(var(--base-unit) * 8) 0 calc(var(--base-unit) * 11) 0;
    text-align: center;
}
.coop_list, .coop_list > div{
    padding: calc(var(--base-unit) * 10) 0;
}
.grow,.fund{
    text-align: right;
}
.smart .coop_content{
    margin-bottom: calc(var(--base-unit) * 4);
    text-align: center;
}

/* 2. 제련소 인증현황 */
.rec_desc h2{
    text-align: center;
}
.rec_desc p{
    text-align: right;
    margin-bottom: calc(var(--base-unit) * 10);
}
/* .rec_circle > div > span{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 0 15px #d8d8d8 inset;
    border-radius: 50%;
} */

#target1, #target2, #target3 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 25px;
}