.container{
    padding: calc(var(--base-unit) * 3) 0;
}
/* 1. 사회공헌 개요 */
.ctr_main hgroup{
    margin-bottom: calc(var(--base-unit) * 3);
}
.ctr_main article{
    position: relative;
    /* gap: 100px; */
    overflow: hidden;
}
.ctr_main article::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 50px;
    z-index: 1;
}
.ctr_main article::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 50px;
    z-index: 1;
}
.ctr_main article > div{
    text-align: center;
}
.ctr_main_title{
    margin-top: var(--base-unit);
}
.ctr_main_content{
    padding: 0 100px;
}


/* 2. 사회공헌 목록 */
.ctr_sub{
    color: var(--white);
    margin-top: calc(var(--base-unit) * 9);
}
.ctr_sub_page{
    height: 100vh;
}
.ctr_sub_page:nth-child(1){
    background: url('../img/esg_ctr_list1.png') no-repeat;
}