/* 1. 녹색경영 개요 */

.green_title{
    padding: calc(var(--base-unit) * 4) 0 calc(var(--base-unit) * 11) 0;
    text-align: center;
}
.green_circle{
    padding: calc(var(--base-unit) * 4) 0;
}
.ideology, .vision, .slogan{
    position: relative;
}
.green_outer_circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: lightgreen;
    /* background: var(--light-blue); */
    opacity: 0.7;
    margin: auto;
}
.green_inner_circle{
    position: absolute; 
    top: 25px;
    left: 35px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: green;
    /* background: var(--blue); */
    opacity: 0.9;
}
.green_inner_circle h3{
    position: absolute;
    width: 100%;
    color: var(--white);
    text-align: center;
}
.circle_content{
    margin-top: var(--base-unit);
}

/* 2. 녹색경영 부가설명 */
.green_sub, .sub_wrapper{
    padding: calc(var(--base-unit) * 5) 0;
}
.sub_wrapper:nth-child(2n-1){
    text-align: right;
}
.sub_wrapper:nth-child(2n){
    text-align: left;
}

/* 3. 지속 가능한 개발 */
.sustdev_desc{
    padding: calc(var(--base-unit) * 5) 0;
}
.sustdev_desc > div{
    text-align: center;
}
.sustdev_outer_circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: lightgreen;
    opacity: 0.7;
    margin: auto;
}
.iso14001, .iso50001, .iso14001{
    position: relative;
}
.sustdev_inner_circle{
    position: absolute; 
    top: 25px;
    left: 35px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: green;
    color: var(--white);
    opacity: 0.9;
    gap: calc(var(--base-unit) * 2);
    text-align: center;
}
.sustdev_inner_circle h4{
    text-transform: uppercase;
}
.sustdev_content{
    text-transform: capitalize;
}
.sustdev_download{
    margin: calc(var(--base-unit) * 5) 0;
    color: var(--dark-blue);
}
.sustdev_download > span{
    font-size: 64px;
}
.sustdev_download > a{
    text-decoration: none;
}
.sustdev_circle{
    position: relative;
    z-index: -1;
}
.mover {
    position: absolute;
    left: 0;
    offset-path: path("M238,0.5h944c131.168,0,237.5,106.333,237.5,237.5l0,0c0,131.168-106.332,237.5-237.5,237.5H238C106.833,475.5,0.5,369.168,0.5,238l0,0C0.5,106.833,106.833,0.5,238,0.5z");
    offset-distance: 0%;
    /* animation: move 5s linear infinite; */
    z-index: 3;
}

.mover_container svg{
    position: absolute;
    z-index: 2;
}
.mover span{
    color: green;
    text-align: center;
    font-size: 128px;
    rotate: 90deg;
}
.sustdev{
    height: 400vh;
}
.sustdev > div{
    position: sticky;
    top: 0;
    height: 100vh;
}
footer{
    margin-top: calc(var(--base-unit) * 10);
}

@keyframes move {
    100% {offset-distance: 100%;}
}



@media (max-width: 768px){
    .green_circle, .sustdev_circle{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .green_inner_circle, .sustdev_inner_circle{
        left: 150px;
    }
    .sub_content, .sustdev_desc h4{
        font-size: var(--default-size);
    }
    .sustdev{
        height: 100%;
    }
    .sustdev > div{
        position: relative;
        top: 0;
        height: 100%;
    }
    footer{
        margin-top: 0;
    }
    .mover{
        left: 100px;
        offset-path: path("M0.5,238v1000c0,131.168,106.333,237.5,237.5,237.5l0,0c131.168,0,237.5,-106.332,237.5,-237.5V238C475.5,106.833,369.168,0.5,238,0.5l0,0C106.833,0.5,0.5,106.833,0.5,238z");
        animation: move 5s linear infinite;
    }
    .mover span{
        font-size: 96px;
    }

}
@media (max-width: 480px){
    .green_outer_circle, .sustdev_outer_circle{
        width: 350px;
        height: 350px;
    }
    .green_inner_circle, .sustdev_inner_circle{
        left: 25px;
        width: 300px;
        height: 300px;
    }
    .mover{
        left: 10%;
        offset-path: path("M0.5,238v700c0,131.168,53.166,237.5,184.333,237.5l0,0c131.168,0,184.333,-106.332,184.333,-237.5V238C369.168,106.833,315,0.5,183.833,0.5l0,0C52.666,0.5,0.5,106.833,0.5,238z");
    }
    .mover span{
        font-size: 64px;
    }
}