
.container{
    padding: calc(var(--base-unit) * 6) 0 calc(var(--base-unit) * 10) 0;
    overflow: hidden;
}

/* 1. three S */
.s3{
    position: relative;
    height: 800vh;
    color: var(--light-gray);
}
.s3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.s3 span.active{
    color:white;
    z-index: 3;
}
.s3 > div{
    position: sticky;
    height: 100vh;
    top: 0;
}
.s3 .sustain{
    background: url(../img/esg/esg_sustain.png) no-repeat;
    background-size: cover;
}
.s3 .safety{
    background: url(../img/esg/esg_safety.png) no-repeat;
    background-size: cover;
    text-align: right;
}
.s3 .social{
    background: url(../img/esg/esg_social.png) no-repeat;
    background-size: cover;
}
.s3 .s3_title{
    /* flex-basis: 200px; */
    font-size: calc(var(--h1-size) * 1.8);
    line-height: calc(var(--h1-size) * 1.8);
    text-transform: uppercase;
}
.s3_title, .s3_content{
    font-weight: bold;
    z-index: 2;
}   

/* 2. Sustainable Value */
.value .value_intro{
    text-align: center;
    padding: calc(var(--base-unit) * 5) 0;
}
.value .value_list{
    padding: calc(var(--base-unit) * 4) 0;
}
.value .value_list:nth-child(2n-1){
    text-align: right;
}
.value .value_list:nth-child(2n){
    text-align: left;
}
.value .value_list:last-child{
    padding-top: calc(var(--base-unit) * 5);
    text-align: center;
}
.value_list > div{
    position: relative;
}
.value_list > div h2{
    position: absolute;
    font-size: calc(var(--h1-size) * 2);
    opacity: 0.1;
}
.value_list:nth-child(2n-1) > div h2{
    top: -10%;
    right: -10%;
}
.value_list:nth-child(2n) > div h2{
    top: -10%;
    left: -10%;
}
.value_list img{
    background-size: cover;
}

.value_bottom{
    position: relative;
    text-align: center;
    /* width: 100vw; */
    margin: auto;
    color: black;
    background: rgba(255, 255, 255, 0.5);
}
/* swiper */
.value_slide_container{
    position: absolute;
    top: 0;
    opacity: 0.2;
}
.value_slide_wrapper{
    transition-timing-function: linear;
}
.value_slide_section{
    width: 100%;
}
.value_slide_section:nth-child(1){
    width: 20%;
}
.value_slide_section:nth-child(2){
    width: 20%;
}
.value_slide_section:nth-child(3){
    width: 20%;
}
.value_slide_section:nth-child(4){
    width: 20%;
}
.value_slide_section:nth-child(5){
    width: 20%;
}


/* 3. ESG Report */
.report{
    position: relative;
    background: url('../img/esg/esg_report.png') no-repeat;
    background-size: cover;
    color: var(--white);
    padding: calc(var(--base-unit) * 3);
}
.report::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.report_desc{
    z-index: 10;
}
.report a {
    color: var(--white);
    z-index: 10;
}