/* HEADER & NAV BAR & VIDEO_SECTION_01 - 이강산 */
.section1 .main_video{
	width: 100%;
}
.section1 .main_video video{
	width: 100%;
}
/* // HEADER & NAV BAR & VIDEO_SECTION_01 - 이강산 */


/* TECHNOLOGY_SECTION_02 - 기서은 */
.section2 .tech_box > div {
	padding: 60px 40px;
	box-sizing: border-box;
	width: 40%;
	height: 100vh;
}

.section2  {
	box-sizing: border-box;
	overflow: hidden;
}
.section2 .tech_box  {
	gap: 0 20px;
}
.section2 .tech_box .tech {
	box-sizing: border-box;
}
.section2 .tech_box .tech_2 {
	position: relative;
	width: 60%;
}
.section2 .tech {
/* display: inline-block;
width: 730px;
height: 100vh; */
	background: url(../img/tech/tech_bg.png) no-repeat 0 0 / cover;
}

.section2 .tech h2 {
	color: var(--light-blue);
}
.section2 .tech > p {
	color: var(--white);
	margin-bottom: calc(var(--base-unit)*3);
}
.section2 .tec_tab_list {
	position: relative;
}

.section2 .tec_tab p.active {
	color: #000;
}
.section2 .tec_tab_list a {
	display: block;
	padding-left: 32px;
	border-left: 5px solid rgba(255,255,255,0.3);
	color: var(--white);
	text-transform: uppercase;	
}
.section2 .tec_tab_list a > p {
	text-transform: uppercase;
}
.section2 .tec_tab_list a.active > p {
	color: var(--blue);
}

.tech_2 p {
	margin-top: var(--base-unit);
}
.section2 .tech_box .swiper {
/* max-width: 1023px; */
	text-align: center;	
}
.section2 .tech_box .swiper img {
	margin-top: calc(var(--base-unit)*3);
}
.section2 .tech_2 button {
	position: absolute;
	top: 56%;
	transform: translateY(-50%);
	z-index: 10;
}
.section2 .tech_2 button.prev {
	left: 6%;
}
.section2 .tech_2 button.next {
	right: 6%;
}
.tech_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 20%;
  background: var(--blue);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}
/* // TECHNOLOGY_SECTION_02 - 기서은 */


/* ESG_SECTION_03 - 김다훈 */
.esg{
	height: 100vh;
	overflow: hidden;
}
.esg_exp{
	width: 47vw;
	margin: 0 27px;
}
.esg_list{
	width: 53vw;
}
.esg_list_exp{
	width: 33.3%;
	padding: calc(var(--base-unit) * 3) 55px;
	border-left: 1px solid #fff;
}
.esg_list_exp_title_main{
	font-size: 400px;
	line-height: 400px;
}
.esg_hover > div{
	gap: 100px;
}
.esg_hover .per::after{
	content: '%';
	font-size: 20px;
}
.esg_hover .tco::after{
	content: '천톤 CO2e';
	font-size: 20px;
}
.esg_hover .ton::after{
	content: '톤';
	font-size: 20px;
}
.esg_hover .case::after{
	content: '건';
	font-size: 20px;
}
.esg_hover .people::after{
	content: '명';
	font-size: 20px;
}
.esg_hover .won::after{
	content: '억원';
	font-size: 20px;
}
.esg_hover p{
	width: 20vw;
}
.esg_hover span{
	width: 20vw;
	line-height: 102px;
}
/* // ESG_SECTION_03 - 김다훈 */


/* BUSINESS AREA_SECTION_04 - 나서영 */
.section4 {
	width: 100%;
	/* height: 300vh; */
	padding: calc(var(--base-unit)*8) 40px;
	position: relative;
	box-sizing: border-box;
}

.section4 .content {
	height: 100%;
	max-width: 1823px;
}

.section4 h2 {
	color: var(--light-blue);
}

.section4 .text_box {
	position: sticky;
	top: calc(var(--base-unit)*11);
	height: 80vh;
	width: 35%;
}

.section4 .text_box h3 {
	margin: var(--base-unit) 0;
}

.section4 .text_box .btn {
	margin-top: calc(var(--base-unit)*3);
	display: inline-block;
}

.section4 .slide_wrap {
	width: 60%;
}

.section4 ul {
	width: 100%;
}

.section4 li {
	width: 48%;
	height: 600px;
	background-color: pink;
	opacity: 0;
	transition: .5s;
	transform: translateY(-30px);
}

.section4 li:nth-child(2n){
	margin-top: calc(var(--base-unit)*4);
}

.section4 li.active {
	opacity: 1;
	transform: translateY(0);
}

.section4 li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* // BUSINESS AREA_SECTION_04 - 나서영 */


/* DIALOG POPUP - 나서영 */
.popup {
  background: var(--white);
  position: fixed;
  top: 40px;
	left: 40px;
  padding: 20px 30px;
  z-index: 9999;
  border-color: var(--dark-blue);
	border-width: 7px;
	box-sizing: border-box;
	margin: 0;
	z-index: 99999;
	font-size: 16px;
	line-height: 25px;
}

.popup a {
	text-decoration: underline;
}

.popup h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
	color: var(--black);
}

.popup hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid var(--light-gray);
}

.popup .info a,
.popup span {
  color: var(--black);
}

.popup #close {
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
}

.popup .checkbox label {
  cursor: pointer;
  color: var(--light-gray);
	font-weight: lighter;
}

.popup #daycheck:checked + label {
  font-weight: bold;
  color: var(--dark-blue);
	font-weight: bold;
}
/* // DIALOG POPUP - 나서영 */



@media (max-width: 1565px) {
	/* TECHNOLOGY_SECTION_02 - 1565px */
	.section2 .tech_box p {
		font-size: calc(var(--h4-size)/1.5);
		margin: 0;
	}
	.section2 .tech_box .swiper img {
		width: 60%;
	}
	.section2 .tech_2 button {
		top: 60%;
	}
	/* // TECHNOLOGY_SECTION_02 - 1565px */
}

@media (max-width: 1242px) {
	/* TECHNOLOGY_SECTION_02 - 1242px */
	.section2 .tech_box > div {
		height: auto;
	}
	/* // TECHNOLOGY_SECTION_02 - 1242px */
}

@media (max-width: 1200px) {
	/* BUSINESS AREA_SECTION_04 - 1200px */
	.section4 .text_box h2 {
		font-size: 28px;
	}
	.section4 .text_box h3 {
		margin: 0 0 var(--base-unit);
		font-size: 50px;
		line-height: calc(var(--base-unit)*4);
	}
	.section4 li {
		height: 500px;
	}
	/* // BUSINESS AREA_SECTION_04 - 1200px */
}

@media (max-width: 992px){
	/* BUSINESS AREA_SECTION_04 - 992px */
	.section4 .content {
		align-items: center;
	}
	.section4 .text_box {
		width: 100%;
		height: auto;
		text-align: center;
		position: static;
		margin-bottom: calc(var(--base-unit)*8);
	}
	.section4 .text_box h3 {
		width: 80%;
		margin: 0 auto;
	}

	.section4 .text_box p {
		display: none;
	}

	.section4 .slide_wrap {
		width: 100%;
	}
	/* // BUSINESS AREA_SECTION_04 - 992px */
}	

@media (max-width: 768px){
	/* section1 video */
  
	/* TECHNOLOGY_SECTION_02 - 768px */
	.section2 .tech_box {
		flex-direction: column;
	}
	.section2 .tech_box > div {
		width: 100%;
		height: auto;
	}
	.section2 .tech_box .tech {
		padding: 60px 20px 0;
		box-sizing: border-box;
	}
	.section2 .tech_box .tech_2 {
		width: 100%;
	 	/* padding-right: 0; */
	}
	.section2 .tec_tab_list {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	.section2 .tec_tab_list a {
		display: flex;
		border: none;
		padding: 0 30px;
		border-bottom: 5px solid rgba(255,255,255,0.3);
	}
	.section2 .tech_bar {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		width: 12%;
		height: 5px;
	}
	.section2 .tech_2 button {
		top: 60%;
	}	
	/* // TECHNOLOGY_SECTION_02 - 768px */

	
	/* ESG_SECTION_03 - 768px */
	.section3, .esg_list{
		flex-direction: column;
	}
	.esg_list_exp_title_main{
		font-size: 200px;
		line-height: 200px;
	}
	.esg_exp{
		width: 100vw;
		margin: 0 auto;
		text-align: center;
	}
	.esg_hover.h3{
		display: inline !important;
	}
	.esg_hover p, .esg_hover span{
		width: 45vw;
	}
	.esg{
		height: 150vh;
	}
	.esg_list{
		flex: 0 !important;
	}
	.esg_list_exp{
		width: 100vw;
	}
	.esg_hover > div{
		gap: calc(var(--base-unit) * 3);
	}
	/* // ESG_SECTION_03 - 768px */


	/* DIALOG POPUP - 768px */
	.popup {
		top: 30px;
		left: 0;
		margin: 0 30px;
	}
	/* // DIALOG POPUP - 768px */
}

@media (max-width: 480px){
	/* VIDEO_SECTION_01 - 480px */
	.section1 .main_video{
		width: 100%;
	}
	.section1 .main_video video{
		width: 100%;
	}
	/* // VIDEO_SECTION_01 - 480px */


	/* TECHNOLOGY_SECTION_02 - 480px */
	.section2 .tec_tab_list a {
		padding: 0px 22px;
	}
	/* // TECHNOLOGY_SECTION_02 - 480px */


	/* ESG_SECTION_03 - 480px */
	.esg_list_exp_title_main{
		font-size: 150px;
		line-height: 150px;
	}
	.esg_hover > div{
		gap: calc(var(--base-unit) * 2);
	}
	.esg_desc p{
		font-size: var(--default-size);
	}
	.esg_hover p{
		font-size: 18px;
	}
	/* // ESG_SECTION_03 - 480px */

	/* BUSINESS AREA_SECTION_04 - 480px */
	.section4 li {width: 100%;}
	.section4 li:nth-child(2n+1) {
		margin-top: calc(var(--base-unit)*4);
	}
	/* // BUSINESS AREA_SECTION_04 - 480px */
}