/* section1 */
.oled_video{
  width: 100%;
  height: 100%;
  /* height: 100vh; */
}
.oled_video video{
  width: 100%;
  height: 100%;
}
/* section2 */
.section2{
  height: 100%;
  padding: calc(var(--base-unit)*6) 0;
  text-align: center;
}
.section2 h3{
  padding-bottom: calc(var(--base-unit)*6);
}
.section2 p + p{
  padding-bottom: calc(var(--base-unit)*9);
}
.layers{
  margin: 0 auto;
}
.layers_title{
  font-weight: bold;
  font-size: calc(var(--base-unit)*2);
  padding-bottom: var(--base-unit);
}
/* is-unfold 효과 */


.lcd_layer .lcd_layer_item.nth_1 {
  transform: translateX(-180px);
}
.lcd_layer .lcd_layer_item.nth_2 {
  transform: translateX(-180px);
}
.lcd_layer .lcd_layer_item.nth_3 {
  transform: translateX(-120px);
}
.lcd_layer .lcd_layer_item.nth_4 {
  transform: translateX(-60px);
}
.lcd_layer .lcd_layer_item.nth_5 {
  transform: translateX(0px);
}
.lcd_layer .lcd_layer_item.nth_6 {
  transform: translateX(60px);
}
/* transform 3d
.lcd_layer .lcd_layer_item.nth_1 {
  transform: translate3d(-240px, 0, 0);
}
.lcd_layer .lcd_layer_item.nth_2 {
  transform: translate3d(-180px, 0, 0);
}
.lcd_layer .lcd_layer_item.nth_3 {
  transform: translate3d(-120px, 0, 0);
}
.lcd_layer .lcd_layer_item.nth_4 {
  transform: translate3d(-60px, 0, 0);
}
.lcd_layer .lcd_layer_item.nth_5 {
  transform: translate3d(0px, 0, 0);
}
.lcd_layer .lcd_layer_item.nth_6 {
  transform: translate3d(60px, 0, 0);
}
*/