.qd {
	width: 100%;
	height: 100vh;
}
.hidden {
	overflow: hidden;
}

/* img {
	width: 100%;
	height: 100%;
} */
.qd_oled_index section {
	padding: calc(var(--base-unit)*10) 0;
	box-sizing: border-box;
}
.qd_oled_index section h2 {
	margin-bottom: calc(var(--base-unit)*5);
	text-align: center;
}
.qd_bg {
	background: url(../img/qd/qd_banner.jpg) no-repeat 0 0 /cover;
}

.qd.qd_dot {
	height: 150vh;
}

.qd_dot {
	position: relative;
	text-align: center;
}

/* .qd_dot .qd_dot_ani {
	position: absolute;
	top: 72%;
	left: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
} */

/* .perspective{
  perspective: 2000px;
  perspective-origin: 50% -200px;
} */

.qd_dot_ani{
 	position: relative;
	max-width: 968px;
	height: 594px;
	margin: 0 auto; 
  transform-style:preserve-3d;
}
.qd_dot_ani > .qd_dot_ani1{
	position: absolute;
	top: 0;
	left: 22.5%;
}
.qd_dot_ani > .qd_dot_ani2{
	position: absolute;
	top: 0;
	right: 22.5%;
}
.qd_dot_ani > div > span {
	display: block;
	width: 303px;
	height: 662px;
	text-indent: -9999em;
	background: url(../img/qd/flip.png) no-repeat center/contain;
}
.qd_dot_ani > .qd_dot_ani2 > span {
	background: url(../img/qd/flip2.png) no-repeat center/contain;
}
.qd_dot_ani .qd_dot_ani1 span {
	transform-origin: 100% 50%;
	transform:rotateY(44deg);
}

.qd_dot_ani .qd_dot_ani2 span {
	transform-origin: 0% 50%;
	transform:rotateY(46deg);
}


.perspective .qd_dot_ani .qd_dot_ani1.animate span {
	transform:rotateY(0);	
	transition: all 1s;
}
.perspective .qd_dot_ani .qd_dot_ani2.animate span {
	transform:rotateY(0);
	transition: all 1s;
}

.qd_info  {
	background: var(--white);
	color: var(--black);
}
.qd_info .qd_left {
	padding-left: 80px;
	box-sizing: border-box;
}
.qd_info .qd_right {
	padding-right: 80px;
	box-sizing: border-box;
}
.qd_info img {
	width: 50.3%;
}
.black .qd_info h3  {
  color: var(--black);
}
.qd_info .qd_left strong {
	font-weight: bold;
}
.qd_bot  {
	gap: 103px;
}

.qd_oled {
	position: relative;
	height: 150vh;
}
.qd_oled .qd_oled_box {
	position: absolute;
	width: 700px;
	height: 650px;
	top: 59%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.qd_oled .qd_oled_box li {
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s;
}

.qd_oled .qd_oled_box.animate li:nth-of-type(1) {
	/* left: 50%; */
	transform: translateX(-60%);
}
.qd_oled .qd_oled_box.animate li:nth-of-type(2) {
	/* left: 50%; */
	transform: translateX(0%);
}

.qd_oled .qd_oled_box.animate li:nth-of-type(3) {
	/* left: 58%; */
	transform: translateX(45%);
}


.qd_oled .qd_oled_text {
	position: absolute;
	bottom: 0;
	right: calc(100% - 50%);
}
.qd_oled .qd_oled_text .qd_text1 {
	margin-right: 270px;
}
.qd_oled .qd_oled_text .qd_text2 {
	margin-right: 182px;
}


.qd_compare .qd {
	text-align: center;
}
.qd_compare .qd > div {
	position: relative;
}

.qd_compare .qd_oled_tv h3 {
	margin-left: 100px;
}
.qd_compare .qd_display_od h3 {
	margin-right: 213px;
}

.qd_compare .qd > div .qd_oled_ani {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.qd_compare .qd_olde_img {
	position: relative;
}
.qd_compare .qd > .qd_oled_tv img {
	transform: translateY(0%);
	transition: 2s;
	opacity: 0;
}
.qd_compare .qd > .qd_display_od img {
	transform: translateY(0%);
	transition: 2s;
	opacity: 0;
}
.qd_compare .qd > .qd_oled_tv.animate img {
	opacity: 1;
}
.qd_compare .qd > .qd_display_od.animate img {
	opacity: 1;
	transition-delay: 1.5s;
}
.qd_compare .qd > .qd_oled_tv.animate img:nth-of-type(1) {
	/* top: 25%; */
	transform: translateY(20%);
}
.qd_compare .qd > .qd_oled_tv.animate img:nth-of-type(2) {
	/* top: 37%; */
	transform: translateY(30%);
}
.qd_compare .qd > .qd_oled_tv.animate img:nth-of-type(3) {
	/* top: 62%; */
	transform: translateY(150%);
}

.qd_compare .qd > .qd_display_od.animate img:nth-of-type(1) {
	/* top: 25%; */
	transform: translateY(20%);
}
.qd_compare .qd > .qd_display_od.animate img:nth-of-type(2) {
	/* top: 62%; */
	transform: translateY(110%);
}


.qd_compare .qd_arrow{
	position: absolute;
	/* top: 0; */
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999em;
}
.qd_oled_arrow {
	width: 362px;
	height: 212px;
	background-image: url(../img/qd/qd-oled_sec1_arrow.png);
	animation: arrow 2s 3s infinite ease-in-out;
}
.qd_compare .qd_oled_arrow2 {
	width: 366px;
	height: 106px;
	background-image: url(../img/qd/qd-oled_sec1_arrow2.png);
}
.qd_compare .qd_oled_arrow3 {
	width: 401px;
	height: 182px;
	background-image: url(../img/qd/qd-oled_sec2_arrow.png);
}
.qd_compare .qd_oled_arrow4 {
	width: 460px;
	height: 78px;
	background-image: url(../img/qd/qd-oled_sec2_arrow2.png);
}
.qd_compare .qd_arrow.qd_oled_arrow2 {
	top: -13px;
	right: calc(100% - 88%);
}
.qd_compare .qd_arrow.qd_oled_arrow {
	bottom: -144px;
	right: calc(100% - 92%);
}
.qd_compare .qd_arrow.qd_oled_arrow4 {
	top: -52px;
	left: -17px;
}
.qd_compare .qd_arrow.qd_oled_arrow3 {
	bottom: -13px;
	left: 0;
}
@keyframes arrow {
	0% { 
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

.qd_drag .qd{
	position: relative;
}
.qd_drag .swiper{
	max-width: 610px;
	margin:2rem auto;
}
.qd_foot {
	padding: 620px 0 calc(var(--base-unit)*5) 0;
	text-align: center;
	background: url(../img/qd/qd_bg.jpg) 0 0 /cover;
	box-sizing: border-box;
}

.qd_foot a {
	color: var(--white);
}
.qd_foot ul a {
	color: var(--white);
	gap: calc(var(--base-unit)*2) 0;
}
.qd_foot ul li .qd_foot_img {
	overflow: hidden;
	width: 292px;
	height: 306px;
}
.qd_foot ul li:hover a img {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;;
}
.qd_foot .btn {
	display: inline-block;
	margin: calc(var(--base-unit)*2) 0 calc(var(--base-unit)*3);
} 
.qd_figure {
	padding: calc(var(--base-unit)*5) 0;
	background: url(../img/qd/qd_bg_2.jpg) 0 0 /cover;
}
